* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 22px;
}

body {
    background-color: #DFE8C6;
    max-width: 1024px;
    margin: auto;
}
/* Header */

.headercontainer {
    font-family: 'Roboto', arial, sans-serif;
    display: flex;
    max-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Header Logo */

.logocontainer {
    max-width: 320px;
    min-width: 200px; /* SHOULD BE min-width: 320px; */
    display: flex;
}

.headerlogo {
    display: flex;
    width: 100%;
}

.headerlogo img{
    height: 1.5rem;
    width: 100%;
}


/* Header Nav Section */

a {
    text-decoration: underline;
    color: #90AE2C;
}

.navcontainer {
    max-width: 700px; 
    width: 65%;
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
}

#navtop,
#navbottom {
    display: flex;
    white-space: nowrap;
}

#navtop > div,
#navbottom > div {
    margin: 2px;
    line-height: 0.7rem;
}

.shrink {
    flex-shrink: 1;
}

.noshrink {
    border: 2px solid whitesmoke;
    flex-shrink: 0;
}

.about {
    width: 55px;
}

.programmes {
    width: 118px;
}

.maintenance {
    width: 116px;
}

.shop {
    width: 48px;

}

.involved {
    width: 117px;
    flex-wrap: nowrap;
}

.media {
    width: 52px;
}

.blog {
    width: 48px;
}

.contact {
    width: 106px;
    flex-wrap: nowrap;
}

/* Split Header for Mobile */

@media only screen and (max-width: 585px) {
.headercontainer {
    display: block;
    }
.abouthide {
    display: none;
    }
.navcontainer {
    width: 75%;
    min-width: 0;
    }
}

/*  BODY */
