* {
    font-family: 'Roboto', arial, sans-serif;
    padding: 0;
    margin: 0;
}

.headercontainer {/*
    display: flex;*/
    max-width: 1024px;
    width: 100%;
    height: auto;
    border: 1px solid green;
}

.logocontainer {/*
    display: inline-block;*/
    display: flex;
}

.headerlogo img{
    height: 2.2rem;
    width: auto;
    border: 1px dotted green;
}

.navcontainer {
    max-width: 700px; 
    width: 100%;
    border: 1px dotted black;/*
    display: flex;*/
}

#navtop,
#navbottom {
    display: flex;
    white-space: nowrap;
}

#navtop > div,
#navbottom > div {
    margin: 2px;
    line-height: 1rem;
}

.shrink {
    flex-shrink: 1;
}

.noshrink {
    flex-shrink: 0;
}

.about {
    width: 55px;
    border: 1px solid red;
}

.programmes {
    width: 118px;
    border: 1px solid red;
}

.maintenance {
    width: 116px;
    border: 1px solid red;
}

.shop {
    width: 48px;
    border: 1px solid red;

}

.involved {
    width: 117px;
    border: 1px solid red;
    flex-wrap: nowrap;
}

.media {
    width: 52px;
    border: 1px solid red;
}

.blog {
    width: 48px;
    border: 1px solid red;
}

.contact {
    width: 106px;
    border: 1px solid red;
    flex-wrap: nowrap;
}